@{ 
    ViewBag.Title = "eycahanliqdi";
    slide1 header2 = ViewBag.header2;

}



<div id="b1">
    <div class="b2 d-flex">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Pages</a>
                    </li>
                </ul>
            </div>
        </nav>


        <div class="b4">
            <img src="foto/logo-basel.svg" class="img-fluid" alt="">
        </div>


        <div class="b5 d-flex">
            <p>HAQQIMIZDA</p>
        </div>


    </div>

</div>



<div id="c1" style="background:url(@header2.photourl)">
    <div class="c2">
        <h1>@header2.soz1</h1>
        <h4>@header2.soz2</h4>
    </div>
</div>










<div id="d1">
    <div class="d2">
        <p>MADE THE HARD WAY</p>
        <h5>FEATURED CATEGORIES</h5>
        <h6>Basel & Co. is a powerful eCommerce theme for Shopify. Visit our shop page to see all main features for Your Store</h6>
    </div>
</div>







<div id="e1">
    <div class="container">
        <div class="e2 d-flex">
            <img style="width: 50%;" src="~/newfinal/foto/cat-bag-5_377x.jpg" class="img-fluid" alt="">
            <img style="width: 20%;" src="~/newfinal/foto/cat-bag-5_377x.jpg" class="img-fluid" alt="">

            <div class="e3 d-flex">
                <img style="width: 20vh;" src="~/newfinal/foto/cat-bag-5_377x.jpg" class="img-fluid" alt="">
                <img style="width: 20vh;" src="~/newfinal/foto/cat-bag-5_377x.jpg" class="img-fluid" alt="">
            </div>



        </div>
    </div>

</div>




<div id="q1">
    <div class="container">
            <div class="q2 navbar">



                @foreach (sati saxtaad in ViewBag.satis2)
                {
                    <div class="q7">
                        <a href="cart.html"> <img height="400px" src="@saxtaad.photourl"  alt="">  </a>

                        <p>@saxtaad.soz1</p>
                        <h6>@saxtaad.qiymet</h6>
                    </div>
                }




            </div>

        



       


    </div>
</div>





<div id="w1">
    <div class="w2">
        <p>Connect to Basel & Co.</p>
        <h1>Join Our Newsletter</h1>
        <p>Hey you, sign up it only takes a second to be the first to find out about our latest news and promotions… </p>
    </div>
</div>





<div id="r1">
    <div class="container">
        <div class="r2 d-flex">
            <div class="r3">
                <img height="70%" style="width: 100%;" src="~/newfinal/foto/ik1.png" alt="">
                <h5>musteri memnunyet</h5>
                <p>BU SAYTDAN ALIS VERIS ETDIM COX MEMNUN OLDUM MENIM MEHSULUMU VAXTINDA CATIRDILAR</p>


            </div>
            <div class="r3">
                <img height="70%" style="width: 100%;" src="~/newfinal/foto/ruyada-insan-gormek-001.jpg" alt="">
                <h5>musteri memnunyet</h5>
                <p>BU SAYTDAN ALIS VERIS ETDIM COX MEMNUN OLDUM GULERUZ ISCILERI VAR</p>


            </div>
            <div class="r3">
                <img height="70%" style="width: 100%;" src="~/newfinal/foto/600x314-insan-kaynagina-yatirim-1582664596880.jpeg" alt="">
                <h5>musteri memnunyet</h5>
                <p>BU SAYTDAN ALIS VERIS ETDIM COX MEMNUN OLDUM</p>

            </div>


        </div>


    </div>
</div>







<div id="t1">
    <div class="t2">
        <img src="~/newfinal/foto/logo-basel.svg" alt="">
        <h6>MINIMALISTIC AJAX E-COMMERCE THEME</h6>
        <p>Adipiscing dignissim euismod ad venenatis volutpat sociis feugiat purus ridiculus rhoncus nullam sodales euismod ad venenatis volutpa ridiculus. </p>
        <button>purchase bael</button>
    </div>
</div>







<div id="y1">
    <div class="container">
        <div class="y2">
            <h5>WHAT THEY SAY ABOUT US </h5>
            <img src="~/newfinal/foto/testimonial2-1-100x100_100x100.progressive.jpg" alt="">
            <p>Fringilla iaculis ante torquent a diam a vestibulum diam nisi augue dictumst parturient a vestibulum tortor viverra inceptos adipiscing nec a ullamcorper.Ullamcorper aliquam rutrum.</p>

        </div>
    </div>







</div>







<div id="u1">
    <div class="u2 d-flex">
        <img style="height: 60px;" src="~/newfinal/foto/logo-1_250x.png" class="img-fluid" alt="">
        <img style="height: 60px;" src="~/newfinal/foto/logo-2_250x.png" class="img-fluid" alt="">



    </div>


</div>






