@{
    ViewBag.Title = "eycahanliqdi";
    slide1 header2 = ViewBag.header2;

}



<div id="b1">




    <div class="b4">
        <img src="foto/logo-basel.svg" class="img-fluid" alt="">
    </div>




</div>

</div>



<div id="c1" style="background:url(@header2.photourl)">
    <div class="c2">
        <h1>@header2.soz1</h1>
        <h4>@header2.soz2</h4>
    </div>
</div>










<div id="d1">
    <div class="d2">
        <h1>SAYTDA OLAN MEHSULLAR</h1>

    </div>
</div>










<div id="q1">
    <div class="container">
        <div class="q2 navbar">



            @foreach (sati1 saxtaad in ViewBag.satis2)
            {
                <div class="q7">
                    <a href="/cart/cart"> <img height="400px" src="@saxtaad.photourl" alt="">  </a>

                    <p>@saxtaad.soz1</p>
                    <h6>@saxtaad.qiymet</h6>
                </div>
            }




        </div>








    </div>
</div>





<div id="w1">
    <div class="w2">
        <p>Connect to Basel & Co.</p>
        <h1>Join Our Newsletter</h1>
        <p>Hey you, sign up it only takes a second to be the first to find out about our latest news and promotions… </p>
        <input type="email">
        <button>SUBMIT</button>
    </div>
</div>





<div id="c00">

    <div class="container">
        <div class="c02 navbar">
            <div class="c03">
                <img src="~/newfinal/foto/blog-new-17-1024x629_1024x.progressive.jpg" alt="">

                <p>Venenatis veulum </p>
                <h6>
                    Socioad metusdi men4t4g4ttum parturient dis

                </h6>





            </div>

            <div class="c03">
                <img src="~/newfinal/foto/blog-new-17-1024x629_1024x.progressive.jpg" alt="">

                <p>Jeptum ring earrings</p>
                <h6>Sociosqtintum partu3t3ttrtg4frient dis</h6>
            </div>



            <div class="c03">
                <img src="~/newfinal/foto/blog-new-17-1024x629_1024x.progressive.jpg" alt="">

                <p>Jeptum ring earrings</p>
                <h6>Sociosqtintum partu3t3ttrtg4frient dis</h6>
            </div>



            <div class="c03">
                <img src="~/newfinal/foto/blog-new-17-1024x629_1024x.progressive.jpg" alt="">


                <p>Jeptum ring earrings</p>

                <h6>Socionenatis condi mentum 4t34thy4r54tent dis</h6>


            </div>




        </div>



    </div>
</div>







<div id="t1">
    <div class="t2">
        <img src="~/newfinal/foto/logo-basel.svg" alt="">
        <h6>MINIMALISTIC AJAX E-COMMERCE THEME</h6>
        <p>Adipiscing dignissim euismod ad venenatis volutpat sociis feugiat purus ridiculus rhoncus nullam sodales euismod ad venenatis volutpa ridiculus. </p>
        <button>purchase bael</button>
    </div>
</div>







<div id="y1">
    <div class="container">
        <div class="y2">
            <h5>WHAT THEY SAY ABOUT US </h5>
            <img src="~/newfinal/foto/testimonial2-1-100x100_100x100.progressive.jpg" alt="">
            <p>Fringilla iaculis ante torquent a diam a vestibulum diam nisi augue dictumst parturient a vestibulum tortor viverra inceptos adipiscing nec a ullamcorper.Ullamcorper aliquam rutrum.</p>

        </div>
    </div>







</div>







<div id="u1">
    <div class="u2 d-flex">
        <img style="height: 60px;" src="~/newfinal/foto/logo-1_250x.png" class="img-fluid" alt="">
        <img style="height: 60px;" src="~/newfinal/foto/logo-2_250x.png" class="img-fluid" alt="">



    </div>


</div>







<div id="ss0">
    <div class="container">
        <div class="s1">
            <img src="~/newfinal/foto/logo-basel.svg" class="img-fluid" alt="">
        </div>
        <div class="s0 nav">
            <div class="s2">
                <h3>OUR STORES</h3>
                <h4>new york</h4>
                <h4>new york</h4>
                <h4>new york</h4>

            </div>
            <div class="s2">
                <h3>OUR STORES</h3>
                <h4>new york</h4>
                <h4>new york</h4>
                <h4>new york</h4>

            </div>
            <div class="s2">
                <h3>OUR STORES</h3>
                <h4>new york</h4>
                <h4>new york</h4>
                <h4>new york</h4>

            </div>
            <div class="s2">
                <h3>OUR STORES</h3>
                <h4>new york</h4>
                <h4>new york</h4>
                <h4>new york</h4>

            </div>
        </div>
        <div class="s9">
            <img src="~/newfinal/foto/payments_255x.png" alt="">
            <br>
            <br>
            <br>

          
        </div>
    </div>
</div>

